@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Oswald');

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
select,.form input {
  font-family: 'Roboto';
  outline: 0;
  background: #ffffff;
  width: 100%;
/*   border: 50px;
 */  border-color: #000000;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: 'Roboto';
  text-transform: uppercase;
  outline: 0;
  background: rgb(93, 95, 93);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(31, 32, 31);
}
.form .message {
  margin: 15px 0 0;
  color: #222020;
  font-size: 12px;
  font-weight: bold;
}
.form .message a {
  color: black;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
background: rgba(76,76,76,1);
background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 3%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 15%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 75%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 94%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(3%, rgba(89,89,89,1)), color-stop(6%, rgba(102,102,102,1)), color-stop(15%, rgba(71,71,71,1)), color-stop(26%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(75%, rgba(17,17,17,1)), color-stop(87%, rgba(43,43,43,1)), color-stop(94%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 3%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 15%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 75%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 94%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 3%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 15%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 75%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 94%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 3%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 15%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 75%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 94%, rgba(19,19,19,1) 100%);
background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 3%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 15%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 75%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 94%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );    
background-repeat: no-repeat;
height: 100vh;
overflow-x: hidden;
}
table, td, th {    
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
button {
  position: relative;
  background-color: rgb(88, 92, 88);
  border: none;
  font-size: 28px;
  color: rgb(32, 31, 31);
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

button:after {
  content: "";
  background: rgb(81, 85, 81);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.bcenter {
  text-align : center;
  margin-bottom: 25px;
}

.home a {
  font-size: 24px;
  ;text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'StarWars';
  src: url('../fonts/star-jedi.ttf')  format('truetype');
  }

::placeholder {
  color : rgb(0, 0, 0);
  font-weight: bold; 
}

.navbar-brand{
  font-family: 'StarWars';
  font-size: 25px;
}

.nav-item{
  font-family: 'Oswald';
  font-size: 25px;
}

.card{
  margin-top: 65px;
}


.landing-text{
  font-family:StarWars;
  color: antiquewhite;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* display: block; */
    margin-left: 25%;
    margin-right: 10%;
    width: 400px;
    height: 200px;
    position: relative;
    left: 20%;
    top: 50%;  
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.cold {
  margin-right:2%;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(61, 60, 60);
        color: whitesmoke;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .card .front {
      font: 30px;
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
/* }


:checked + .card { */
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}